/*Jake Lian 4/24/202 */
/*Project 1 - Complete AFTER Final Topic Discussion*/
/*CIS166AA 26678*/
/* Styling for nav */
#main-nav ul {
  list-style-type: none; /*Removes default list style */
  margin: 0;
  padding: 0;
}

#main-nav li {
  display: inline; /*for horizontal list items*/
  margin-right: 20px; /*Adds some spacing*/
}
/* Styling for paragraph */
.intro-paragraph {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6; /* Increased line-height for better readability */
}